#cityname {
    /* font-size: 1.5em; */
    font-weight: bold;
    color: #000;
    text-align: center;
    margin: 0;
    padding: 0;
}
.blink {
    animation: blink 1.8s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
    
}
